* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

.row{
    width: 100%;
}

.content{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid black;
    background-color: aqua;
}

h1{
    margin: 1em;
    font-size: 175%;
    text-align: center;
}

article h2{
    display: block;
    float: right;
    padding: 8px;
    font-size: 125%;
}

#first{
    color: white;
    background-color: brown;
}

#second{
    color: white;
    background-color:blueviolet;
}

#third{
    color: black;
    background-color:bisque;
}

article  p{
    clear: both;
    padding: 10px;
}

@media (min-width: 992px){
    .col-xl{
        float: left;
        width: 33.3%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-m{

        float: left;
        width: 50%;
    }

}

@media (max-width: 767px){
        .col-s{
            float: left;
            width: 100%;
    }
}
